---
layout: default
---


<div class="bg--white">
  <div class="container container--xl text--center vpad--xxl">
    {{page.intro}}
  </div>
  {% if page.page-nav %}
    {% include nav/page.html %}
  {% endif %}
</div>


<div class="bg--grey-lightest vpad--xxl">
  {% for section in page.page-sections %}
  <div class="container text--center">

    <div class="container container--xl">
      <h2 class="title title--lg">{{section.title}}</h2>
      {{section.content}}
    </div>
    <div class="space--lg"></div>

    <span class="title title--xs title--lines text--bold text--upper">{{section.highlights-title}}</span>
    <div class="space--sm"></div>
    <div class="row row--gutters-lg">
    {% assign highlights = site.data.highlights | where:'section',section.id %}
    {% for highlight in highlights %}

      <a href="javascript:void(0);" data-modal-item="test-modal-1" data-modal-group="section" class="js-open-modal col col--4">
        <div class="bg-img bg-img--16-9" style="background-image:url({{site.img}}/img.jpg);"></div>
        <div class="boxpad--lg bg--white">
          <h4 class="title title--xxxs text--bold text--upper">{{highlight.title}}</h4>
          <div class="space--xs"></div>
          {{highlight.content|truncatewords:6}}
        </div>
      </a>
    {% endfor %}
    </div>

  </div>
  {% endfor %}
</div>


